
body {
	/*background: white url("pics/background.gif") no-repeat top right;*/
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color: black;
	background-color: #cad5d9;
	
	margin: 20px 20%;
	padding: 0;
}

/* This is a comment, by the way */

a{
	    text-decoration: none;
	    color: #B72400;
}


.linkstyle-1 a:link{
	color: yellow;
}

.linkstyle-1 a:visited{
	color: white;
}

.linkstyle-1 a:active{
	color: red;
}

.linkstyle-1 a:hover{
	    text-decoration: none;
	    color: black;
	    /*background-color: white;*/
}

.button{
	color: yellow;
	font-size: 10px;
	background-color: #5580a1;
}

img.medium {
	width: 362px;
	height: 640px;
}

input:focus, textarea:focus {
    background: #eee;
}

p {
	
	font: 14px/1 "Times New Roman", times, serif;
	/*padding: 30px 10px;
	border: 1px black solid;
	border-width: 1px 5px 5px 1px;
	border-color: red green blue yellow;
	margin: 10px 50px;*/
}

p:first-letter {

    font-size: 150%;
    /*float: left;*/
}


p:first-line {
    font-weight: bold;
}

/*
p:first-child{
	font-weight: bold;
	font-size: 40px;
}
*/
h1 {
	color: #5580a1;
	font-size: 2em;
	font-style: italic;
	text-align: center;
	/*
	letter-spacing: 0.3em;
	background-color: #aab9be;
	padding: 4px;
	margin: 0;
	margin-bottom: 7px;
	border-bottom-style: solid;
	border-bottom-width: 0.5em;
	border-bottom-color: #7299a7;
	/**/
}

h2 {
	color: white;
	background-color: #68a2a9;
	font-size: 1.5em;
	margin: 0;
	padding: 2px;
	padding-left: 14px;
}

h3 {
	color: #5580a1;
	font-size: 1.25em;
}

h4 {
	color: #888888;
	font-size: 1.1em;
}


figure {
	float: left;
	text-align: center;
}
#photo {
	border-width: 2px;
	border-color: #ccc;
	float: left;
}

.author{
	font-style: bold;
	/*color: #005;
	/*text-transform: uppercase;*/
}

.ref_note{
	color: #b00;
	font-style: bold;
}

.ref{
	font-style: italic;
	/*text-transform: capitalize;*/
}

.chinese{
	color: black;
	font-style: normal;
	margin: 1;
}

.period{
	font-style: bold;
}

li {
	/*display: inline;*/
	color: normal;
	font-style: normal;
}


table {
	background-color: #ddd;
	caption-side: bottom;
}


.nav{
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 30px;
	font: 14pt;
	clear: both;
	/*background: #eee;
	/**/
}         
.nav ul{
	margin: 0;
	padding: 0;
}

.nav li{
	position: relative;
	float: left;
	color: black;
	background: #cad5d9;
	list-style: none;
	/**/
	width: 150px;
    display: inline-block;
}

.toggle {
    display: none;
}

.nav a{
	font-weight: bold;
	background: #aaa;
	text-align: center;
	width: 130px;
    display: inline-block;
	padding: 5px 10px;
}

.nav a:link{
	color: yellow;
}

.nav a:visited{
	color: white;
}

.nav a:active{
	color: red;
}

.nav a:hover{
	    text-decoration: none;
	    color: black;
	    /*background-color: white;*/
}

section {
	display: block;
	clear: both;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}


#back {
	position: fixed;
	background: gray;
	left: 10%;
	padding: 30px 10px;
	border: 1px black solid;
	border-width: 0px 5px 5px 0px;
	border-color: #eee;
	margin: 10px 50px;
	/**/
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

aside{
	text-align: right;
}

.alternative {
	color: white;
}

/*
#main_nav, #related_links { 
	visibility: hidden;
}
/*display: none }*/


